<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.lesacteursduweb.jonathan" version="1.0.3" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SuperMeteo3000</name>
    <description>Application de météo géolocalisée réalisé avec Cordova</description>
    <author email="jonathan.pchs@gmail.com" href="https://jonathan.lesacteursduweb.fr/">
        Jonathan PAIN-CHAMMING'S
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-geolocation" spec="^4.1.0" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon background="www/icon/android/ldpi-background.png" density="ldpi"
            foreground="www/icon/android/ldpi-foreground.png" />
        <icon background="www/icon/android/mdpi-background.png" density="mdpi"
            foreground="www/icon/android/mdpi-foreground.png" />
        <icon background="www/icon/android/hdpi-background.png" density="hdpi"
            foreground="www/icon/android/hdpi-foreground.png" />
        <icon background="www/icon/android/xhdpi-background.png" density="xhdpi"
            foreground="www/icon/android/xhdpi-foreground.png" />
        <icon background="www/icon/android/xxhdpi-background.png" density="xxhdpi"
            foreground="www/icon/android/xxhdpi-foreground.png" />
        <icon background="www/icon/android/xxxhdpi-background.png" density="xxxhdpi"
            foreground="www/icon/android/xxxhdpi-foreground.png" />
    </platform>
</widget>