@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes rotation {
    from {
        rotate:0;
    }
    to {
        rotate: 360deg;
    }
}

.blink {
    animation: fade 2000ms infinite;
    -webkit-animation: fade 2000ms infinite;
}

.loading {
    animation: fadeIn 1000ms;
}

.rotate {
    background: conic-gradient(var(--color-sun), #fff);
    animation: rotation 1000ms infinite linear;
}