@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes rotation {
    from {
        rotate:0;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes wind {
    from {
        width: var(--width);
        left: calc(50svw - var(--width) / 2);
    }
    to {
        width: calc(var(--width) + var(--size) * 10);
        left: calc(50svw - (var(--width) + var(--size) * 10) / 2);
    }
}

#clouds::after {
    animation: wind calc(6000000ms / var(--wind-speed) / var(--wind-speed)) linear infinite;
    -webkit-animation: wind calc(6000000ms / var(--wind-speed) / var(--wind-speed)) linear infinite;
}

.blink {
    animation: fade 2000ms infinite;
    -webkit-animation: fade 2000ms infinite;
}

.loading {
    animation: fadeIn 1000ms;
}

.rotate {
    background: conic-gradient(var(--color-sun), #fff);
    animation: rotation 1000ms infinite linear;
}