.background {
    height: inherit;
    width: inherit;
    overflow: inherit;
    background-color: var(--color-grass);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#sky {
    width: inherit;
    height: calc(50svh - 50svw);
    background-color: var(--color-clearsky);
    transition: height 0ms ease;
}

#horizon {
    display: inline-block;
    border-top: 100svw solid var(--color-clearsky);
    border-right: 100svw solid transparent;
    overflow: hidden;
}

.sun {
    position: absolute;
    aspect-ratio: 1;
    height: 90vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 100%;
    background-color: var(--color-sun);
}

.radiate {
    box-shadow:
        0 0 0 7vw rgba(255, 221, 102, 0.3),
        0 0 0 14vw rgba(255, 221, 102, 0.3),
        0 0 0 21vw rgba(255, 221, 102, 0.3);
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .background {
        flex-direction: row;
    }

    #sky {
        height: inherit;
        width: calc((100svw - 100svh) / 2);
    }

    #horizon {
        border-top: 100svh solid var(--color-clearsky);
        border-right: 100svh solid transparent;
    }

    .sun {
        height: 90vh;
    }
}