.background {
    height: inherit;
    width: inherit;
    background-color: var(--color-grass);
    overflow: hidden;
}

#sky {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-block;
    border-top: 100dvh solid var(--color-clearsky);
    border-right: 100dvh solid transparent;
    overflow: hidden;
}

.sun {
    position: absolute;
    aspect-ratio: 1;
    height: 90vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 100%;
    background-color: var(--color-sun);
}

.radiate {
    box-shadow:
    0 0 0 7vw rgba(255,221,102,0.3),
    0 0 0 14vw rgba(255,221,102,0.3),
    0 0 0 21vw rgba(255,221,102,0.3);
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .foreground {
        flex-direction: row;
    }

    .sky {
        border-top-width: 100dvw;
        border-right-width: 100dvw;
    }

    .sun {
        height: 90vh;
    }
}
