.background {
    --atmosphere: rgba(255, 255, 255, 0.3);
    z-index: -1;
    position: absolute;
    inset: 0;
    height: inherit;
    width: inherit;
    overflow: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.night::after {
    position: absolute;
    content:"";
    inset:0;
    z-index: 1;
    background: radial-gradient(circle, rgba(0, 16, 32, 0.75), var(--color-night));
}

#sky {
    --opacity : var(--high-cloud);
    --color: var(--color-clearsky);
    width: inherit;
    height: inherit;
    background-image: linear-gradient(135deg, var(--color), var(--atmosphere), var(--color));
    background-color: var(--color);
    transition: height 0ms ease;
}

#sky::after {
    position: absolute;
    content:"";
    inset:0;
    z-index: 0;
    background:#cde;
    opacity: var(--opacity);
}

#horizon {
    --color: var(--color-grass);
    --h: 100svh;
    --w: 100svw;
    --horizon-offset: 0px;
    --hl: calc(100% - (var(--h) - var(--w)) / 2 - var(--horizon-offset));
    --hr: calc((var(--h) - var(--w)) / 2 - var(--horizon-offset));
    height: var(--h);
    width: var(--w);
    position: absolute;
    background-image: linear-gradient(135deg, var(--color), var(--atmosphere), var(--color));
    background-color: var(--color);
    overflow: hidden;
    clip-path: polygon(0 var(--hl),
            100% var(--hr),
            100% 100%,
            0 100%);
}

.sun {
    position: absolute;
    aspect-ratio: 1;
    height: 90vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background-color: var(--color-sun);
}

.radiate {
    box-shadow:
        0 0 0 7vw rgba(255, 221, 102, 0.3),
        0 0 0 14vw rgba(255, 221, 102, 0.3),
        0 0 0 21vw rgba(255, 221, 102, 0.3);
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .background {
        flex-direction: row;
    }

    #sky {
        height: inherit;
        width: calc((100svw - 100svh) / 2);
    }

    .sun {
        height: 90vh;
    }
}