#meteoFX {
    z-index: 0;
    position: absolute;
    inset: 0;
    height: inherit;
    width: inherit;
    overflow: inherit;
}

drop {
    display: block;
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: 100%;
    height: var(--drop-lenght);
    width: 0.5rem;
    border-radius: 3em;
    background-image: linear-gradient(transparent,
            rgba(128, 128, 255, 0.2),
            rgba(0, 128, 255, 0.5));
    translate: -50% 0;
}

#clouds,
#stars,
#rain {
    position: absolute;
    height: inherit;
    width: inherit;
    overflow: inherit;
    display: none;
}

#rain {
    display: block;
}

#stars {
    z-index: 0;
}

#clouds {
    overflow: visible;
    height: calc(100svh - (50svh - 50svw));
}

#clouds::after,
#stars::after {
    /* Block settings */
    --height: calc(50svh * 1.42);
    --width: calc(var(--height) * 2);
    position: absolute;
    content: "";
    height: var(--height);
    width: var(--width);
    left: calc(50svw - var(--width) / 2);
    z-index: 1;
    transform: rotate(var(--angle));
    transform-origin: bottom;
}

.rain {
    position:absolute;
    content:"";
    height: calc(100svh * 1.42);
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: center;
    z-index: 1;
    rotate: -45deg;

    /* Alpha gradient */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1));
}

#clouds::after {
    /* Clouds Settings */
    --size: var(--cloud-size);
    --space: var(--cloud-space);
    --AA: 1px;
    --angle: -45deg;
    --color-clouds: #def;
    --offset: calc(25svh - 25svw);
    opacity: var(--cloud-coverage);
    bottom: calc(50% - var(--offset));
    filter: blur(0.5px);

    /* Texture */
    background:
        /* Circles 1 */
        radial-gradient(circle,
            var(--color-clouds) calc(var(--size) / 2 - var(--AA)),
            transparent calc(var(--size) / 2)),
        /* Rectangles 1 */
        conic-gradient(at calc(var(--size) + var(--space)) var(--size),
            transparent 0.25turn 0.75turn,
            var(--color-clouds) 0.75turn),
        /* Rectangles 2 */
        conic-gradient(at calc(var(--size) + var(--space)) var(--size),
            transparent 0.25turn 0.75turn,
            var(--color-clouds) 0.75turn);
    /* Patterns sizes */
    background-size:
        calc(var(--size) + var(--space)) calc(var(--size) + var(--space)),
        calc((var(--size) + var(--space)) * 2) calc((var(--size) + var(--space))*2),
        calc((var(--size) + var(--space)) * 2) calc((var(--size) + var(--space))*2);

    /* Offest patterns positions */
    background-position:
        0 100%,
        calc((var(--size) + var(--space)) * 0.5) calc(100% + var(--space)*0.5),
        calc((var(--size) + var(--space)) * 1.5) calc(100% + var(--space)*1.5 + var(--size));

    /* Alpha gradient */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

}

#stars::after,
.stars {
    --angle: -45deg;
    transform-origin: unset;
    opacity: calc(1 - var(--high-cloud));

    /* Texture */
    background-image: radial-gradient(white, transparent 2px, transparent 2.7rem),
        radial-gradient(white, transparent 1px, transparent 2rem),
        radial-gradient(white, transparent 2px, transparent 1.5rem),
        radial-gradient(white, transparent 2px, transparent 1rem),
        radial-gradient(white, rgba(255, 255, 255, 0) 2px, transparent 3rem);
    background-size: 11rem 11rem, 8.5rem 8.5rem, 10rem 10rem, 6rem 6rem,
        11.5rem 11.5rem;
    background-position: 1rem 2rem, 5rem 10rem, 8rem 3rem, 8rem 9rem, 7rem 9rem;
}