:root {
    --color-dark: #123;
    --color-clearsky: #57B2F3;
    --color-hotsky: #66C1DD;
    --color-white: #cde;
    --color-sun: #fd6;
    --color-grass: #558E41;
    --color-sand:#C1B27E;
    --wind-speed:0;
    --cloud-coverage:0;
    font-family: 'Inter', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 4.5vw;
    color: var(--color-dark);
}

h1, h2, h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-white);
    text-shadow: #123 .05em .05em .1em ;
}

h2 {
    font-size: 1.87rem;
    margin-bottom: -2.2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) {
    :root {
        font-size: 4.5vh;
    }
}