@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Variable.ttf") format("truetype");
}
:root {
  --color-night:#012;
  --color-dark: #123;
  --color-clearsky: #57B2F3;
  --color-hotsky: #66C1DD;
  --color-white: #cde;
  --color-sun: #fd6;
  --color-grass: #558E41;
  --color-sand: #C1B27E;
  --wind-speed: 0;
  --cloud-coverage: 0;
  font-family: "Inter", system-ui, -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif;
  font-size: 4.5vw;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  text-shadow: #123 0.05em 0.05em 0.1em;
  text-wrap: balance;
}

h2 {
  font-size: 1.87rem;
  margin-bottom: -2.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) {
  :root {
    font-size: 4.5vh;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  background-color: var(--color-dark);
}

/* Portrait layout (default) */
.app {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: inherit;
  width: inherit;
  overflow: inherit;
}

.background {
  z-index: -1;
  position: absolute;
  inset: 0;
  height: inherit;
  width: inherit;
  overflow: inherit;
  background-color: var(--color-grass);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.night {
  background: radial-gradient(circle, rgba(0, 16, 32, 0.75), var(--color-night));
}

#sky {
  width: inherit;
  height: calc(50svh - 50svw);
  background-color: var(--color-clearsky);
  transition: height 0ms ease;
}

#horizon {
  display: inline-block;
  border-top: 100svw solid var(--color-clearsky);
  border-right: 100svw solid transparent;
  overflow: hidden;
}

.sun {
  position: absolute;
  aspect-ratio: 1;
  height: 90vw;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background-color: var(--color-sun);
}

.radiate {
  box-shadow: 0 0 0 7vw rgba(255, 221, 102, 0.3), 0 0 0 14vw rgba(255, 221, 102, 0.3), 0 0 0 21vw rgba(255, 221, 102, 0.3);
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .background {
    flex-direction: row;
  }
  #sky {
    height: inherit;
    width: calc((100svw - 100svh) / 2);
  }
  #horizon {
    border-top: 100svh solid var(--color-clearsky);
    border-right: 100svh solid transparent;
  }
  .sun {
    height: 90vh;
  }
}
#meteoFX {
  z-index: 0;
  position: absolute;
  inset: 0;
  height: inherit;
  width: inherit;
  overflow: inherit;
}

#clouds,
#stars {
  position: absolute;
  height: inherit;
  width: inherit;
  overflow: inherit;
  display: none;
}

#stars {
  z-index: 0;
}

#clouds::after,
#stars::after {
  /* Block settings */
  --height: calc(50svh * 1.42);
  --width: calc(var(--height) * 2);
  position: absolute;
  content: "";
  height: var(--height);
  width: var(--width);
  bottom: 50%;
  left: calc(50svw - var(--width) / 2);
  z-index: 1;
  transform: rotate(var(--angle));
  transform-origin: bottom;
}

#clouds::after {
  /* Clouds Settings */
  --size: 3rem;
  --AA: 1px;
  --angle: -45deg;
  --color-clouds: #def;
  opacity: var(--cloud-coverage);
  /* Texture */
  background: radial-gradient(circle, var(--color-clouds) calc(var(--size) / 2 - var(--AA)), transparent calc(var(--size) / 2)), radial-gradient(circle, var(--color-clouds) calc(var(--size) / 2 - var(--AA)), transparent calc(var(--size) / 2)), conic-gradient(at calc(var(--size) * 3.75) var(--size), transparent 0.25turn 0.75turn, var(--color-clouds) 0.75turn), conic-gradient(at calc(var(--size) * 3.75) var(--size), transparent 0.25turn 0.75turn, var(--color-clouds) 0.75turn);
  /* Patterns sizes */
  background-size: calc(var(--size) * 1.25) calc(var(--size) * 2.5), calc(var(--size) * 1.25) calc(var(--size) * 2.5), calc(var(--size) * 5) calc(var(--size) * 2.5), calc(var(--size) * 5) calc(var(--size) * 2.5);
  /* Offest patterns positions */
  background-position: 0 calc(100% + var(--size) * 0.625), calc(var(--size) * 0.625) calc(100% + var(--size) * -0.625), calc(var(--size) * 5) calc(100% + var(--size) * 0.125), calc(var(--size) * 1.875) calc(100% + var(--size) * 1.375);
  /* Alpha gradient */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

#stars::after, .stars {
  --angle: -45deg;
  /* Texture */
  background-color: var(--color-night);
  background-image: radial-gradient(white, transparent 2px, transparent 2.7rem), radial-gradient(white, transparent 1px, transparent 2rem), radial-gradient(white, transparent 2px, transparent 1.5rem), radial-gradient(white, transparent 2px, transparent 1rem), radial-gradient(white, rgba(255, 255, 255, 0) 2px, transparent 3rem);
  background-size: 11rem 11rem, 8.5rem 8.5rem, 10rem 10rem, 6rem 6rem, 11.5rem 11.5rem;
  background-position: 1rem 2rem, 5rem 10rem, 8rem 3rem, 8rem 9rem, 7rem 9rem;
}

.foreground {
  z-index: 1;
  position: absolute;
  inset: 0;
  height: inherit;
  width: inherit;
  overflow: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.weather_data {
  rotate: -45deg;
}

#forecast {
  font-size: 2rem;
  /* font-size: 1.4rem; /* Pour les noms longs > 16 */
  font-weight: 500;
  line-height: 1em;
  text-align: start;
  margin-left: 2.5rem;
}

#city {
  font-size: 4rem;
  /* font-size: 2.5rem; /* Pour les noms longs > 10 */
  font-weight: 900;
  line-height: 0.9em;
}

.temperatures {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.maxmin_temp {
  font-size: 1.2rem;
  text-align: start;
}

.only {
  font-size: 3rem;
  margin: -1.5rem 0 0.8rem 0;
}

#max_temp {
  font-weight: 600;
  margin-bottom: -0.25em;
}

#actual_temp {
  font-size: 6rem;
  font-weight: 900;
  margin-top: -1.55rem;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .foreground {
    flex-direction: row;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes wind {
  from {
    width: var(--width);
    left: calc(50svw - var(--width) / 2);
  }
  to {
    width: calc(var(--width) + var(--size) * 10);
    left: calc(50svw - (var(--width) + var(--size) * 10) / 2);
  }
}
#clouds::after {
  animation: wind calc(6000000ms / var(--wind-speed) / var(--wind-speed)) linear infinite;
  -webkit-animation: wind calc(6000000ms / var(--wind-speed) / var(--wind-speed)) linear infinite;
}

.blink {
  animation: fade 2000ms infinite;
  -webkit-animation: fade 2000ms infinite;
}

.loading {
  animation: fadeIn 1000ms;
}

.rotate {
  background: conic-gradient(var(--color-sun), #fff);
  animation: rotation 1000ms infinite linear;
}

/*# sourceMappingURL=style.css.map */
