@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Variable.ttf") format("truetype");
}
:root {
  --color-night: #012;
  --color-dark: #123;
  --color-clearsky: #0095ff;
  --color-hotsky: #66C1DD;
  --color-white: #cde;
  --color-sun: #fd6;
  --color-grass: #558E41;
  --color-sand: #C1B27E;
  --wind-speed: 0;
  --cloud-coverage: 0;
  --cloud-space: 0.5rem;
  --cloud-size:3rem;
  --high-cloud: 0;
  --drop-lenght: 20rem;
  --drop-duration: 0.55s;
  font-family: "Inter", system-ui, -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif;
  font-size: 4.5vw;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  text-shadow: #123 0em 0em 0.5em;
  text-wrap: balance;
}

h2 {
  font-size: 1.87rem;
  margin-bottom: -2.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) {
  :root {
    font-size: 4.5vh;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  background-color: var(--color-dark);
}

/* Portrait layout (default) */
.app {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: inherit;
  width: inherit;
  overflow: inherit;
}

.background {
  --atmosphere: rgba(255, 255, 255, 0.3);
  z-index: -1;
  position: absolute;
  inset: 0;
  height: inherit;
  width: inherit;
  overflow: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.night::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 1;
  background: radial-gradient(circle, rgba(0, 16, 32, 0.75), var(--color-night));
}

#sky {
  --opacity: var(--high-cloud);
  --color: var(--color-clearsky);
  width: inherit;
  height: inherit;
  background-image: linear-gradient(135deg, var(--color), var(--atmosphere), var(--color));
  background-color: var(--color);
  transition: height 0ms ease;
}

#sky::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 0;
  background: #cde;
  opacity: var(--opacity);
}

#horizon {
  --color: var(--color-grass);
  --h: 100svh;
  --w: 100svw;
  --horizon-offset: 0px;
  --hl: calc(100% - (var(--h) - var(--w)) / 2 - var(--horizon-offset));
  --hr: calc((var(--h) - var(--w)) / 2 - var(--horizon-offset));
  height: var(--h);
  width: var(--w);
  position: absolute;
  background-image: linear-gradient(135deg, var(--color), var(--atmosphere), var(--color));
  background-color: var(--color);
  overflow: hidden;
  clip-path: polygon(0 var(--hl), 100% var(--hr), 100% 100%, 0 100%);
}

.sun {
  position: absolute;
  aspect-ratio: 1;
  height: 90vw;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background-color: var(--color-sun);
}

.radiate {
  box-shadow: 0 0 0 7vw rgba(255, 221, 102, 0.3), 0 0 0 14vw rgba(255, 221, 102, 0.3), 0 0 0 21vw rgba(255, 221, 102, 0.3);
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .background {
    flex-direction: row;
  }
  #sky {
    height: inherit;
    width: calc((100svw - 100svh) / 2);
  }
  .sun {
    height: 90vh;
  }
}
#meteoFX {
  z-index: 0;
  position: absolute;
  inset: 0;
  height: inherit;
  width: inherit;
  overflow: inherit;
}

drop {
  display: block;
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 100%;
  height: var(--drop-lenght);
  width: 0.5rem;
  border-radius: 3em;
  background-image: linear-gradient(transparent, rgba(128, 128, 255, 0.2), rgba(0, 128, 255, 0.5));
  translate: -50% 0;
}

#clouds,
#stars,
#rain {
  position: absolute;
  height: inherit;
  width: inherit;
  overflow: inherit;
  display: none;
}

#rain {
  display: block;
}

#stars {
  z-index: 0;
}

#clouds {
  overflow: visible;
  height: calc(100svh - (50svh - 50svw));
}

#clouds::after,
#stars::after {
  /* Block settings */
  --height: calc(50svh * 1.42);
  --width: calc(var(--height) * 2);
  position: absolute;
  content: "";
  height: var(--height);
  width: var(--width);
  left: calc(50svw - var(--width) / 2);
  z-index: 1;
  transform: rotate(var(--angle));
  transform-origin: bottom;
}

.rain {
  position: absolute;
  content: "";
  height: 142svh;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center;
  z-index: 1;
  rotate: -45deg;
  /* Alpha gradient */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0));
}

#clouds::after {
  /* Clouds Settings */
  --size: var(--cloud-size);
  --space: var(--cloud-space);
  --AA: 1px;
  --angle: -45deg;
  --color-clouds: #def;
  --offset: calc(25svh - 25svw);
  opacity: var(--cloud-coverage);
  bottom: calc(50% - var(--offset));
  filter: blur(0.5px);
  /* Texture */
  background: radial-gradient(circle, var(--color-clouds) calc(var(--size) / 2 - var(--AA)), transparent calc(var(--size) / 2)), conic-gradient(at calc(var(--size) + var(--space)) var(--size), transparent 0.25turn 0.75turn, var(--color-clouds) 0.75turn), conic-gradient(at calc(var(--size) + var(--space)) var(--size), transparent 0.25turn 0.75turn, var(--color-clouds) 0.75turn);
  /* Patterns sizes */
  background-size: calc(var(--size) + var(--space)) calc(var(--size) + var(--space)), calc((var(--size) + var(--space)) * 2) calc((var(--size) + var(--space)) * 2), calc((var(--size) + var(--space)) * 2) calc((var(--size) + var(--space)) * 2);
  /* Offest patterns positions */
  background-position: 0 100%, calc((var(--size) + var(--space)) * 0.5) calc(100% + var(--space) * 0.5), calc((var(--size) + var(--space)) * 1.5) calc(100% + var(--space) * 1.5 + var(--size));
  /* Alpha gradient */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

#stars::after,
.stars {
  --angle: -45deg;
  transform-origin: unset;
  opacity: calc(1 - var(--high-cloud));
  /* Texture */
  background-image: radial-gradient(white, transparent 2px, transparent 2.7rem), radial-gradient(white, transparent 1px, transparent 2rem), radial-gradient(white, transparent 2px, transparent 1.5rem), radial-gradient(white, transparent 2px, transparent 1rem), radial-gradient(white, rgba(255, 255, 255, 0) 2px, transparent 3rem);
  background-size: 11rem 11rem, 8.5rem 8.5rem, 10rem 10rem, 6rem 6rem, 11.5rem 11.5rem;
  background-position: 1rem 2rem, 5rem 10rem, 8rem 3rem, 8rem 9rem, 7rem 9rem;
}

.foreground {
  z-index: 1;
  position: absolute;
  inset: 0;
  height: inherit;
  width: inherit;
  overflow: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.weather_data {
  rotate: -45deg;
}

#forecast {
  font-size: 2rem;
  /* font-size: 1.4rem; /* Pour les noms longs > 16 */
  font-weight: 500;
  line-height: 1em;
  text-align: start;
  margin-left: 2.5rem;
}

#city {
  font-size: 4rem;
  /* font-size: 2.5rem; /* Pour les noms longs > 10 */
  font-weight: 900;
  line-height: 0.9em;
}

.temperatures {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.maxmin_temp {
  font-size: 1.2rem;
  text-align: start;
}

.only {
  font-size: 3rem;
  margin: -1.5rem 0 0.8rem 0;
}

#max_temp {
  font-weight: 600;
  margin-bottom: -0.25em;
}

#actual_temp {
  font-size: 6rem;
  font-weight: 900;
  margin-top: -1.55rem;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .foreground {
    flex-direction: row;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes wind {
  from {
    width: var(--width);
    left: calc(50svw - var(--width) / 2);
  }
  to {
    width: calc(var(--width) + (var(--size) + var(--space)) * 4);
    left: calc(50svw - (var(--width) + (var(--size) + var(--space)) * 4) / 2);
  }
}
@keyframes itsRaining {
  from {
    bottom: 100%;
  }
  to {
    bottom: calc(var(--drop-lenght) * -1);
  }
}
#clouds::after {
  animation: wind calc(6000000ms / var(--wind-speed) / var(--wind-speed)) linear infinite;
  -webkit-animation: wind calc(6000000ms / var(--wind-speed) / var(--wind-speed)) linear infinite;
}

.blink {
  animation: fade 2000ms infinite;
  -webkit-animation: fade 2000ms infinite;
}

.loading {
  animation: fadeIn 1000ms;
}

.rotate {
  background: conic-gradient(var(--color-sun), #fff);
  animation: rotation 1000ms infinite linear;
}

#stars::after {
  animation: rotation 200000ms infinite linear;
}

drop {
  animation: itsRaining var(--drop-duration) linear infinite;
}

/*# sourceMappingURL=style.css.map */
